* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(243, 243, 243);
}

header {
    background-color: white;
    padding: 7px 20px;
}

.logo {
    vertical-align: middle;
}

h1 {
    vertical-align: middle;
    display: inline-block;
}

.conteiner-1 {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 10px 50px 7px;
}

.button {
    border-radius: 5px;
    padding: 5px;
}

.button.blue {
    background-color: rgb(34, 174, 255); 
    border-color: rgb(34, 174, 255);
    border-style: none;
    color: white; 
}

.button.white {
    background-color: white;
    border: 1px solid rgb(46, 46, 46);
}